---
layout: default
---
<section id='hero'>
    <div class="content-wrapper">
        <h1>Blitzchain Tutorials</h1>
        <p>Blitzchain APIs make it simple to add realtime features to your applications, fast. We have hundreds of tutorials, written by our experts, to get you up and running!</p>
        <p>Search to find your feature in our collection, or check out the subject list below for inspiration on what you can build using Pusher.</p>
    </div>
</section>
<div class=row>
    <div id="sidebar" class=column>
        <h3>Products</h3>
        <ul>
            <li class="category-item">SDKs</li>
            <li class="category-item">UI Elements</li>
            <li class="category-item">Data Lake</li>
        </ul>
        <h3>Categories</h3>
        <ul class="category-list">
        {% for tag in site.tags %}
                {% for post in tag[1] %}
                <li class="category-item">{{ tag[0] }}</li>
                {% endfor %}
        {% endfor %}
        </ul>
        {% for category in site.category %}
            {% capture category_name %}{{ category | first }}{% endcapture %}
            <h3 class="category-head">{{ category_name }}</h3>
            <h3>{{ category[0] }}</h3>
            <ul>
                {% for post in category[1] %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
    <div id="page" class=column>
        <div id="content">
            {{ content }}
            <ul id="tutorial-list">
                {% for post in site.posts %}
                <li>
                    {% assign post_url = site.baseurl | append: post.url %}
                    <a href="{{ post_url }}">
                        <h3>{{ post.title }}</h3>
                        {{ post.excerpt }}
                    </a>
                    <ul class="category-list">
                        {% for category in post.categories %}
                            <li class="category-item">
                                <a href="{{ category.url }}">{{ category }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <hr/>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
