---
layout: default
---
  
<div class=row>
    <div id="sidebar" class=column>
        <h2>SDKs</h2>
        <h2>UI Elements</h2>
        <hr/>
        {% for item in site.data.sidebar-menus.ui-elements %}
            <h3>{{ item.title }}</h3>
            <ul class="sidebar-menu">
                {% for entry in item.subfolderitems %}
                    {% if page.url == entry.url %}
                    <li class="active"><a href="{{ entry.url }}" class="active">{{ entry.page }}</a></li>
                    {% else %}
                    <li><a href="{{ entry.url }}">{{ entry.page }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <hr/>
        {% endfor %}
        <h2>UI Elements</h2>
        <h2>Data Lake</h2>
    </div>
    <div id="page" class=column>
        <div id="content">
            <h1>{{ page.title}}</h1>
            {{ content }} 
        </div>
    </div>
    <div id="toc" class=column>
        <div id="toc-container">
            <h4>Table of Contents</h4>
            {% include toc.html html=content sanitize=true id="page-toc" h_min=2 h_max=3 %}
        </div>
    </div>
</div> 
